*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#wrapper{
	background-color: rgba(50, 115, 220, 0.3);
	font-family: "helvetica neue", sans-serif;
	width: 100%;
}
.navbar
{
	background-color: rgb(7, 7, 7);
	display: flex;
	padding: 30px 0px 0px 20px;
	
}
.navbar a
{
	color:  rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 28px;
}
.navbar a:hover
{
	background-color: rgba(50, 115, 220, 0.473);
}
.content-div{
    text-align: center;
    background-color: rgb(226, 233, 238);
    font-size: 17px;
    width: 88%;
    margin: 20px auto;
    padding-top: 5px 5px;
    border-radius: 3px; 
    border: rgb(173, 173, 177) solid 1px;
}
.content-pic-div{
    display: inline-block;
    margin: 20px 10px;
}
.content-pic-div img{
    width: 240px;
    height: 140px;
    border-radius: 7px;
 
}
.content-pic-div a{
    text-decoration: none;
    color: rgb(27, 26, 26);

}
.foot-div{
	background-color: rgba(22, 22, 22, 0.993);
}
#toggle
{
	display: none;
}

.togglearea
{
	background-color:  rgb(31, 29, 29);;
	border-bottom: 1px solid rgb(152, 174, 236);
	padding: 10px;
	display: flex;
	justify-content: start;
}
.togglearea label
{
	height: 45px;
	width: 50px;
	color: rgb(255, 255, 255);
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
label {
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color:  rgb(255, 255, 255);
}
.togglearea
{
	display: none;
}


@media screen and (max-width: 943px)
{
.navbar
	{
		flex-direction: column;
		display: none;
	}
	#toggle:checked + .navbar
	{
		display: flex;
	}
	.togglearea
	{	
		display: flex;
	}

	.content-pic-div img{
		width: 190px;
		height: 110px;
		border-radius: 3px;
	 
	}
	.content-div{
		font-size: 12px;
	}
	.content-pic-div{
		margin: 16px 8px;
	}
}
@media screen and (max-width: 478px)
{
	.content-pic-div img{
		width: 136px;
		height: 78px;
		border-radius: 3px;
	 
	}
	.content-div{
		font-size: 11px;
	}
	.content-pic-div{
		margin: 14px 6px;
	}
}